/*index*/
#titulo {
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
  color: #000000;
}

#logo-header {
  border: 1px solid gray;
  margin: 10px;
}

.menu {
  background-color: lightgray;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
}

.menu-item a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 10px;
}

/*introduccion*/
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0077cc;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#titulo-introduccion {
  margin: 0;
  font-size: 36px;
}

.parrafo {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
}

/*ejercicio*/
#contenido-principal {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #1a1a1a;
  font-size: 1.5em;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

/* Estilos para los inputs de tipo número */
input[type="number"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  font-size: 1em;
  color: #333;
}

/* Estilos para el botón de calcular */
#boton-calcular {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

#boton-mostrar-resultado {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Estilos para el botón de reiniciar */
#boton-reiniciar {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Estilos para los botones */
.boton,
#boton-volver {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Estilos para el gráfico */
#grafico {
  background-color: white;
  text-align: center;
}

/* Estilos para los enlaces */
a:link,
a:visited {
  color: #000000;
}

a:hover {
  font-size: 1.4em;
}
